<%- include("head")%>
<section id="about">
    <div>
        <h3>Om uppgiften</h3>
        <p>Denna uppgift var intressant, har inte jobbat med databaser förut och med min tendens att försöka tackla uppgiften innan jag kollar på genomgångarna. Så hamnade jag på ett sidetrack
            med att installera kompletta express servrar och lära mig pug men kom fram till att det var nog lite för mycket arbete för denna uppgift. Kollade på genomgången efter det och då gick
            hela ganska mycket fortare, men föredrar fortfarande att utmana mig själv att efterforska själv i första hand.<br><br>

            Det var däremot inte ett helt slös med tid för jag byggde infrastrukturen för att skapa sql databaser ifrån servern som jag kunde återanvända. Stötte på en del svårigheter med att få post att fungera men när 
            det väl fungerar så är det ganska självklart. Största utmaningarna med uppgiften var skapat av min egna envishet med att eftersöka informationen i första hand. Men det hela fungerade till slut.<br><br>
            
            Återvinde en massa ui komponenter och lite kod ifrån den liknande uppgiften för typescript, lagomt drygt dock att jag inte fick parcel eller liknande att fungera särskilt. Kompilerar manuellt scss och använder inte typescript.<br><br>
            
            Till webbplatsen så använder jag en mysql databas som är så simpel som de blir, därav varför jag inte har något er diagram med i uppgiften då det skulle se ut som en mindmap eftersom det inte finns NÅGRA relationer alls.
            Det är bara en tabell med alla värden, thats it, då det är det enda som behövs i syftet att lagra kurser med deras information. Använder mig av html tabeller och forms för att visa och hantera databasen. Behöver ni strikt
            ett er diagram på grund av något betygsjäl eller whatever så lämna tillbaks den så får jag skicka tillbaka en paint bild ;3<br><br>

            Sidan är inte super vacker men hade ingen lust att skapa en till standard header och footer och dra nån färg från någonstans när en tabell gör jobbet bra i uppgifts syftet. Webbverktyg ska vara simpla. <br>

            Reminder till mig själv att lära mig clamp så jag kan kasta viewport hälften av alla viewports överbord, om det finns något händigt sett att använda parcel med webbservrarna så medela mig gärna.<br><br>-Mvh Max Gagner
        </p>
    </div>
</section>
<%- include("footer")%>