<%- include("head")%>
<%- include("table")%>
<div id="error"><% if(error){error.forEach(error => { %>
        <p><%= error%></td>
<% })} %></div>
<section>
    <form method="post" action="/validate">
        <h2>Ny Kurs</h2>
        <label for="id">Id</label>
        <input type="number" name="id" id="id" maxlength="8"  >
        <label for="code">Kurskod</label>
        <input type="text" name="code" id="code" maxlength="60" >
        <label for="newName">Kursnamn</label>
        <input type="text" name="newName" id="newName" maxlength="60" >
        <label for="progression">Progression</label>
        <input type="text" name="progression" id="progression" maxlength="1" >
        <label for="sylla">Syllabus</label>
        <input type="text" name="sylla" id="sylla" maxlength="80" >
        <div>
            <button type="submit" id="newCourseSubmit">Ny Kurs</button>
            <button type="reset" id="resetCourseNew">Rensa</button>
        </div>
    </form>
</section>
<%- include("footer")%>