<%- include("head")%>
<%- include("table")%>
<section>
    <form method="post" action="/add">
        <h2>Ny Kurs</h2>
        <label for="code">Kurskod</label>
        <input type="text" name="code" id="code">
        <label for="newName">Kursnamn</label>
        <input type="text" name="newName" id="newName">
        <label for="progression">Progression</label>
        <input type="text" name="progression" id="progression">
        <label for="sylla">Syllabus</label>
        <input type="text" name="sylla" id="sylla">
        <div>
            <button type="submit" id="newCourseSubmit">Ny Kurs</button>
            <button type="reset" id="resetCourseNew">Rensa</button>
        </div>
    </form>
</section>