<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>Labboration 1</title>
    <meta name="description" content="Labboration 1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/style.css">
</head>
<header>
    <a href="/"><h2>Startsida</h2></a>
    <a href="add.ejs"><h2>Lägg till kurs</h2></a>
    <a href="about.ejs"><h2>Om Sidan</h2></a>
</header>