<%- include("head")%>
<%- include("table")%>
<section>
    <section>
        <form method="post" action="/remove">
            <h2>Ta Bort kurs</h2>
            <label for="ucode">Kurskod</label>
            <select name="code" id="ucode">
                <% content.forEach(content => { %>
                    <option><%= content.id %></option>
                <%})%>
            </select>
            <div>
                <button type="submit" id="updateCourseSubmit">Ta bort Kurs</button>
            </div>
        </form>
    </section>
</section>
<%- include("footer")%>