<section>
    <table>
        <tr>
            <th id="head0">id</th>
            <th id="head1">Kurskod</th>
            <th id="head2">Namn</th>
            <th id="head3">Progression</th>
            <th id="head4">Url</th>
        </tr>
        <% content.forEach(element => { %>
         
        <% }) %>
    </table>
</section>